body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    color: #0056b3;
  }
  
  main p {
    color: #555;
  }
  
  footer a:hover {
    color: #17a2b8;
  }
  
  main {
    margin-top: 2rem;
  }
  